body {
    background-color: #030303;
}

img {
    max-height: 100px;
    max-width: 100px;
}

h1 {
    font-family: 'Porto 400', sans-serif;
    font-style: normal;
    font-size: 5em;
    color: #F5E84C;
    text-align: center;
}

h2 {
    font-family: 'Porto 400', sans-serif;
    font-style: normal;
    font-size: 3em;
    color: #030303;
    text-align: center;
}
h3 {
    font-family: 'Porto 400', sans-serif;
    font-style: normal;
    font-size: 1.5em;
    color: #F5E84C;
    text-align: center;
}
p {
    font-family: Quicksand;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    color: whitesmoke;
    text-align: center;
}

nav {
    font-family: Quicksand;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    color: whitesmoke;
    text-align: center;
}

#rectangle {
    height: 300px;
    width: 450px;
    border: 5px solid #6B6B69;
    background: #F5E84C;
    margin: 1em;
    overflow: hidden;
    max-width: 100%;
}

col {
    float: left;
    width: 50%;
    margin-bottom: 16px;
    padding: 0 8px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}
.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-family: Quicksand;
  }
.button:hover {
    background-color: #555;
    font-family: Quicksand;
}