h1 {
    color: #fafafa;
    font-size: 3em;
    font-family: 'Cabin Condensed', sans-serif;
    font-weight: bold;
}

h2 {
    color: #0e171a;
    font-family: 'Cabin Condensed', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}

h3 {
    color: #b2322d;
    font-family: 'Cabin Condensed', sans-serif;
    font-size: 1.25em;
    text-transform: uppercase;
    font-weight: bolder;
}

h4 {
    color: #b2322d;
    font-family: 'Cabin Condensed', sans-serif;
    font-size: 1.25em;
    font-weight: bolder;
}

.section {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 550;
    padding-bottom: 1em;
    padding-top: 1em;
}

header {
    background-color: #0e171a;
    color: #fafafa;
}

header p {
    font-family: 'Cabin Condensed', cursive;
    font-size: .65em;
    letter-spacing: 1.5px;
}

.footer {
    font-size: 12px;
}

.footer a {
    color: #0e171a;
    text-decoration-color: #0e171a;

}

a {
    text-decoration: underline;
    text-decoration-color: #b2322d;
    color: #b2322d;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 100%;

}

.timeline {
    font-size: .95em;
    font-weight: bolder;
}

b {
    background-color: #b2322d;
    padding: .1em;
    letter-spacing: 1px;
    color: #fafafa;
}

.vl {
    border-left: 3px solid #b2322d;
    padding: 1em;
}

@media (max-width: 768px) {
    .header {
        justify-content: center;
        padding-top: 1em;
        padding-bottom: 1em;
        margin-top: auto;
    }

    .rectangle {
        font-size: 1.5em;
    }
}

@media (max-width: 556px) {
    h4 {
        padding-bottom: 1em;
    }
}